<app-base-page></app-base-page>

        <br><br>
         I am a Self-energetic and aspiring software engineer and good team player with a strong ability to organize and present complex solutions clearly and accurately. 
         <br><br>
         <p>I am currently enrolled in a 3 year software engineering program at centennial college. I also had the oppertunity to work in one of the biggest telecommunication company in canada where i gained emense knowledge about cyber security.</p>
         <p>I’ve always enjoyed interacting with new people and implementing different methodologies into all sorts of projects hence i aim to be a Business Analyst.</p>
          
         <img src="/assets/images/IMG_20160418_183606 .jpg" alt="Services" width="500" align="center" hspace="50"  >






        
