<app-base-page></app-base-page>



          
         
            <h2>Business Systems Analyst</h2>
            <p>Main duties consist of meeting with different teams within the Cyber Security Unit (Department I am working with) to identify the requirements for handling needs, assessments and benefit analysis to align the technology of the company with the business strategies.</p>
              ​
             <p> Prepare process flow diagrams, followed the Use case diagrams after the requirement gathering phase is completed.</p>
            
            
            <br><br><br>
            
           
            <h2>E-commerce Website</h2>
            <p>Created an E-commerce website for the company.
              Worked in under 24hrs deadlines.
              Developed project concepts and maintain optimal workflow.
              Completed detailed website development tasks for front end public.
              Carried out quality assurance tests to discover errors and optimize usability.</p>
            
            <br><br><br>
            
           
            <h2>Clinincal Application</h2>
            <p>Created an end to end clinical mobile based application for alzimers patients </p>
            <p> Created Entity-Relationship (E-R) diagrams, Workflows, Domain Class Diagrams and Used Cases for the same </p>
               
            <br><br><br>
            <h2>Some other projecs:</h2>
            <p>System Design and Analysis for House renting mobile Application </p>
            <p> Created a Pizza Delivery Mobile Application using Android Studio. </p>
            <p> Requirement Analysis and System Design for various in class Projects. </p>
            
        
        